li {
  list-style: none;
}
.mySwiperflow {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
}
.google {
  background: #ff0000;
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 25%,
    #05c1ff 50%,
    #ffff00 75%,
    #ff0000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
